logs
*.log
restore-sandbox/
node_modules
dist
.c*
.env
.DS_Store
github_deploy_key
github_deploy_key.pub
backup-public.key
*.dump
*.gpg
*de.md

terraform/azure
terraform/digitalocean
.gitattributes

DIST-OPS.sh
cron-traffic.sh