logs
*.log
restore-sandbox/
node_modules
dist
.c*
.env
.DS_Store
github_deploy_key
github_deploy_key.pub
backup-public.key
*.dump
*.gpg
*U*.md

terraform/azure
terraform/digitalocean
procedures
.gitattributes

DIST-OPS.sh