VPS_SSH_KEY=cleprivee qui decrypte la cle publique de l user du vps (authorized keys)
VPS_HOST=ip du vps
VPS_USE=nom de l user du vps qui fait le deploiement (root ou deployer)
POSTGRES_USER=tata
POSTGRES_PASSWORD=toto
POSTGRES_DB=tutu_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" (faire la commande)
JWT_EXPIRES_IN=1h
FRONTEND_URL=http://localhost:5173
PORT=8000
