openlatex.v0id.nl {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
    handle /collab/* {
        reverse_proxy collab:7000
    }
    handle /compile* {
        reverse_proxy 13.37.34.154
    }
    handle /metrics {
        respond 404
    }
    handle /prometheus-write/* {
        @allowed remote_ip 13.37.34.154
        handle @allowed {
            uri strip_prefix /prometheus-write
            reverse_proxy prometheus:9090
        }
        handle {
            respond 403
        }
    }
    handle /grafana* {
        reverse_proxy grafana:3000
    }
    handle {
        reverse_proxy backend:8000
    }
}

openlatex.privatedns.org {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
    handle /collab/* {
        reverse_proxy collab:7000
    }
    handle /compile* {
        reverse_proxy 13.37.34.154
    }
    handle /metrics {
        respond 404
    }
    handle /prometheus-write/* {
        @allowed remote_ip 13.37.34.154
        handle @allowed {
            uri strip_prefix /prometheus-write
            reverse_proxy prometheus:9090
        }
        handle {
            respond 403
        }
    }
    handle /grafana* {
        reverse_proxy grafana:3000
    }
    handle {
        reverse_proxy backend:8000
    }
}

