:80 {
    handle /collab/* {
        reverse_proxy collab:7000
    }
    handle /compile {
        # rediriger vers l'ip du node qui a l'ingress kubernetes (Cest un path type exact et pas prefix)
        # ou bien en local pour le compose (compile-standalone:9000)
        reverse_proxy {$COMPILER_ADDRESS}
    }

    handle /grafana* {
        reverse_proxy grafana:3000
    }
    @frontend path / /assets/*
    handle @frontend {
        reverse_proxy frontend:80
    }
    @account path /auth/* /projects/* /health 
    handle @account {
        reverse_proxy backend:8000
    }

    # dernier catch all deny

    # pas accessible
    @monitoring path /metrics /remote_write /prometheus
    handle @monitoring {
        respond 403
    }

    handle {
        respond 403
    }
}
