POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB={{ postgres_db }}
JWT_SECRET={{ jwt_secret }}
JWT_EXPIRES_IN={{ jwt_expires_in }}
FRONTEND_URL={{ frontend_url }}
RESEND_API_KEY={{ resend_api_key }}
TEST_BYPASS_SECRET={{ test_bypass_secret }}
GRAFANA_ADMIN_USER={{ grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}
GPG_PUBLIC_KEY={{ gpg_public_key }}
B2_APPLICATION_KEY={{ b2_application_key }}
B2_APPLICATION_KEY_ID={{ b2_application_key_id }}