{% set env_vars = [
  'POSTGRES_USER',
  'POSTGRES_PASSWORD',
  'POSTGRES_DB',
  'JWT_SECRET',
  'JWT_EXPIRES_IN',
  'FRONTEND_URL',
  'RESEND_API_KEY',
  'TEST_BYPASS_SECRET',
  'GRAFANA_ADMIN_USER',
  'GRAFANA_ADMIN_PASSWORD',
  'GPG_PUBLIC_KEY',
  'B2_APPLICATION_KEY',
  'B2_APPLICATION_KEY_ID'
] %}
{% for var in env_vars %}
{{ var }}={{ lookup('env', var) }}
{% endfor %}